.bar {
    display: flex;
    color: #fff;
    background-color: #222222;
    font-size: 2rem;
    padding-top: 10px;
}

.bar__button {
    width: 20%;
    min-width: 200px;
    max-width: 400px;
    margin: 0 .25em;
    text-align: center;
    border: #fff 1px solid;
    border-radius: 20px 20px 0 0;
    border-bottom: none;
    padding: .25em .25em 0 .25em;
}