.card {
    background-color: #a8a8a8;
    border: black 1px solid;
    border-radius: 1em;
    margin: 10px;
    text-align: center;
    box-shadow: .5em .5em black;
}

.image_container {
    margin: 5%;
    border-radius: 1em;
}
.card__image {
    border-radius: 1em;
}

